@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto-slab: 'Roboto Slab', serif;
}
.font-roboto {
  font-family: var(--font-roboto-slab) !important;
}


body {
  margin: 0;
  padding: 0;
  background-color: white;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/paper.jpg'); 
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* CONTROLA A OPACIDADE SÓ DO PAPEL AQUI */
  z-index: -1;   /* Joga o papel para trás de TUDO */
  pointer-events: none; /* Garante que o papel não atrapalhe os cliques */
}

/* Reset de Links da Navbar */
nav a, 
nav a:visited, 
nav a:active {
  color: #000000 !important; 
  text-decoration: none !important; /* Remove o sublinhado */
  outline: none;
}

nav a:hover {
  color: #F09E86 !important; 
  text-decoration: none !important;
}

/* Forçando a aplicação da fonte de giz */
.font-chalk {
  font-family: var(--font-chalkiez), cursive !important;
}