@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-papel: #F7F5EB;
  --color-amarelo-psita: #F9E29C;
  --color-coral-bochecha: #F09E86;
  --color-verde-natureza: #A8C69F;
  --color-grafite-lapis: #6B665F;

  --font-roboto: var(--font-roboto-slab), serif;
  --font-chalk: var(--font-chalkiez), cursive;
}

:root {
  --font-roboto-slab: 'Roboto Slab', serif;
}

.font-roboto {
  font-family: var(--font-roboto-slab) !important;
}


body {
  margin: 0;
  padding: 0;
  background-color: white;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* CONTROLA A OPACIDADE SÓ DO PAPEL AQUI */
  z-index: -1;   /* Joga o papel para trás de TUDO */
  pointer-events: none; /* Garante que o papel não atrapalhe os cliques */
}

/* Reset de Links da Navbar */
nav a {
  text-decoration: none;
}

.font-chalk {
  font-family: var(--font-chalkiez), cursive !important;
}